<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trening</title>

    <script src="https://kit.fontawesome.com/3ff5952e8a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>GymTracker</h1></a>
            <ul>
                <li>
                    <a href="/trening">Trening</a>
                </li>
                <li>
                    <a href="/cwiczenia">Ćwiczenia</a>
                </li>
                <li>
                    <a href="/profil">Profil</a>
                </li>
                <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
            </ul>
        </nav>
    </header>
    <main>
        <div class="exercises-container">
            <h2>Ćwiczenia</h2>
            <hr>
            <div class="categories">
                <div class="legs">
                    <h3>NOGI</h3>
                </div>
                <div class="belly">
                    <h3>BRZUCH</h3>
                </div>
                <div class="all-body">
                    <h3>CAŁE CIAŁO</h3>
                </div>
                <div class="triceps">
                    <h3>TRICEPS</h3>
                </div>
                <div class="biceps">
                    <a href="/cwiczenia/biceps"><h3>BICEPS</h3></a>
                </div>
                <div class="back">
                    <h3>KLATKA PIERSIOWA</h3>
                </div>
            </div>
        </div>
    </main>
</body>
</html>