<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>

    <script src="https://kit.fontawesome.com/3ff5952e8a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include("nav.ejs") %>
    </header>
    <main>
        <div class="profile-container">
            <div class="profile-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="profile-content">
                <ul>
                    <li>
                        <h3>Email:</h3>
                        <p>jan.kot@mail.pl</p>
                        <hr>
                    </li>
                    <li>
                        <h3>Imie:</h3>
                        <p>Jan</p>
                        <hr>
                    </li>
                    <li>
                        <h3>Nazwisko:</h3>
                        <p>Kot</p>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>