<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <script src="https://kit.fontawesome.com/3ff5952e8a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/"><h1>GymTracker</h1></a>
    </header>
    <main>
        <div class="register-container">
            <form action="register-data" method="post">
                <input name="email" type="email" placeholder="Email">
                <input name="password" type="password" placeholder="Hasło">
                <input name="confirmedPassword" placeholder="Powtórz hasło">
                <input name="name" type="text" placeholder="Imię">
                <input name="surname" type="text" placeholder="Nazwisko">
                <button class="register-button" name="submit" type="submit"><i class="fa-regular fa-address-card"></i> Rejestracja</button>
            </form>
        </div>
        <img src="/public/images/man.svg" alt="man">
    </main>
</body>
</html>