<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/workout.css">
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- scripts -->
    <script src="https://kit.fontawesome.com/3ff5952e8a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><h1>GymTracker</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/trening">Trening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cwiczenia">Ćwiczenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li id="man-id" class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"  id="logout" ></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="row align-items-center workout-container">
                <div class="col-md-6">
                    <h2>Trening</h2>
                    <ul>
                        <li>
                            <h3>Pokaż</h3>
                            <hr>
                        </li>
                        <li>
                            <h3>Dodaj</h3>
                            <hr>
                        </li>
                        <li>
                            <h3>Edytuj</h3>
                            <hr>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="calendar">KALENDARZ</div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>