<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trening</title>

    <script src="https://kit.fontawesome.com/3ff5952e8a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>GymTracker</h1></a>
            <ul>
                <li>
                    <a href="/trening">Trening</a>
                </li>
                <li>
                    <a href="/cwiczenia">Ćwiczenia</a>
                </li>
                <li>
                    <a href="/profil">Profil</a>
                </li>
                <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
            </ul>
        </nav>
    </header>
    <main>
        <div class="workout-container">
            <h2>Trening</h2>
            <ul>
                <li>
                    <h3>Pokaż</h3>
                </li>
                <li>
                    <h3>Dodaj</h3>
                </li>
                <li>
                    <h3>Edytuj</h3>
                </li>
            </ul>
            <div class="calendar">KALENDARZ</div>
        </div>
    </main>
</body>
</html>