*
{
    font-family: 'Montserrat', sans-serif;
}

body
{
    background: #222B79;
    color: white;
}

h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

h2
{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 7rem;
    font-weight: bold;
}

.container-fluid
{
    padding: 3% 15%;
}

.man-img
{
    width: 70%;
}

/* NAVBAR */

.navbar
{
    padding-bottom: 4.5rem;
}

.nav-item
{
    padding: 0 20px;
}

.nav-link
{
    font-size: 1.5rem;
}

#man-id
{
    margin: auto;
}

#logout
{
    color: #FFD700;
}

.log-buttons
{
    margin: 5% 3% 5% 0;
}

.man-img-container
{
    text-align: center;
}

hr
{
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    opacity: 100%;
}